<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2022 Zalaris ASA.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-intune-upn" version="1.0.0">

    <name>Cordova Plugin Intune UPN</name>
    <description>Cordova plugin for extracting curent user (UPN) and Azure tenant ID from MS Intune cache.</description>
    <author>Zalaris ASA</author>
    <keywords>cordova,ios,android,intune,upn,tenant</keywords>
    <license>Apache-2.0</license>
    <repo>https://github.com/zalaris/cordova-plugin-intune-upn.git</repo>
    <issues>https://github.com/zalaris/cordova-plugin-intune-upn/issues</issues>

    <engines>
        <engine name="cordova-ios" version=">= 6.1.0" />
        <engine name="cordova-android" version=">= 9.0.0" />
    </engines>

    <js-module src="www/IntuneUPN.js" name="IntuneUPN">
        <clobbers target="cordova.plugins.IntuneUPN" />
    </js-module>

    <preference name="CLIENT_ID" default="6c7e8096-f593-4d72-807f-a5f86dcc9c77" />
    
    <config-file target="config.xml" parent="/*">
        <preference name="ClientId" value="$CLIENT_ID"/>
    </config-file>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IntuneUPN">
                <param name="ios-package" value="IntuneUPN" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>msauthv2</string>
                <string>msauthv3</string>
                <string>microsoft-edge-http-intunemam</string>
                <string>microsoft-edge-https-intunemam</string>
            </array>
        </config-file>

        <source-file src="src/ios/IntuneUPN.swift" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntuneUPN">
                <param name="android-package" value="com.zalaris.cordova.intuneupn.IntuneUPN"/>
            </feature>
        </config-file>

        <source-file src="src/android/IntuneUPN.java" target-dir="src/com/zalaris/cordova/intuneupn" />
    </platform>
</plugin>
